@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
  --primaryColor: #092c4c;
  --secondaryColor: #f2994a;
  --textColor: #fcfcfc;
  --textBlackColor: #4f4f4f;
  --primaryVarColor: #0146c0;
  --secondaryVarColor: #3774df;
  --accentVarColor: rgba(180, 206, 253, 0.89);
  --neutralColor: #ffffff;
  --neutralBlackColor: #000000;
  --shadowEffectColor: #c4c4c4;
  --shadowEffect1shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  --shadowEffect2shadow: 0px 5px 20px rgba(27, 30, 51, 0.2);
  --shadowEffect3shadow: 0px 4px 4px rgba(9, 44, 76, 0.13);
  --transition: all 1s linear;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.25rem;
}
h1 {
  font-weight: 500;
  font-size: 3rem;
}
h2 {
  font-weight: 500;
  font-size: 2.5rem;
}
h3 {
  font-weight: 500;
  font-size: 2rem;
}
@media (max-width: 991px) {
  .hero {
    /* height: 12.5rem; */
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .product-box p {
    font-size: 16px;
  }
}
.hero .hero-text {
  /* max-width: 440px; */
}
.hero .hero-text .bold {
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.special-text {
  color: var(--secondaryColor);
}
/* Navbar Classes */
.navbar {
  background-color: var(--primaryColor);
  /* padding: 0.625rem 5rem 0.625rem 5rem; */
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--textColor);
}
.active .nav-link {
  color: var(--secondaryColor) !important;
}
a.nav-link:hover {
  color: var(--secondaryColor) !important;
}
i.fa {
  color: var(--neutralColor);
  font-size: 24px;
}
button.btn:hover {
  color: var(--textColor);
}
button:focus {
  outline: none;
}
button.btn:focus {
  outline: none;
  box-shadow: none;
}
/* Hero Section Classes */
.hero {
  background-color: var(--neutralColor);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-text h2 {
  animation: bounce1 s forwards ease-in-out;
  animation-iteration-count: 2;
}
@keyframes bounce1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About Section Classes */
.about {
  background-color: var(--neutralColor);
  color: var(--primaryColor);
}
.about h1,
.about h2 {
  font-weight: bold;
}
.about .divider {
  border: 3px solid #f2994a;
  display: inline-block;
  width: 100px;

  /* margin-left: 30px */
}
@media (max-width: 991px) {
  .about .divider {
    width: 50px;
  }
}
.about img {
  max-width: 90%;
}
.about div.centrehr {
  text-align: center;
}
.about-boxes {
  justify-content: center;
}
.about .about-box {
  background-color: var(--secondaryColor);
  color: var(--textColor);
}
.about-box:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
.about-box h3 {
  text-align: center;
}
.about-box p {
}
.text-special {
  color: var(--primaryColor);
}

/* Services section classes */
.services {
  background-color: var(--primaryColor);
  color: var(--textColor);
}
.services .services-grid-icon {
  background-color: var(--neutralColor);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 96px;
  max-width: 96px;
}

/* Products Section Classes */
.products {
  background-color: var(--neutralColor);
}
.product-boxes .product-box {
  border: 3px solid rgba(9, 44, 76, 0.4);
  border-radius: 10px;
  position: relative;
}
.product-boxes .product-box img {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-box:hover {
  transform: scale(0.98);
  filter: brightness(0.98);
}
.product-boxes .product-box .bottom {
  /* position: absolute; */
  color: var(--primaryColor);
  line-height: 13px;
  font-weight: bold;
}
.product-boxes .product-box .bottom i.fa {
  color: var(--primaryColor);
}
.product-boxes .product-box .bottom .greytext {
  color: #4f4f4f;
}
.btn-primary {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.btn-primary:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

/* 
Contact Section Classes */
.contact .contact-bg {
  background-image: url('../assets/contactus-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .contact .contact-bg {
    /* height: 250px; */
  }
}
.contact-map {
  height: 300px;
  width: 100%;
}
.contact-map .gm-style > div:not(:first-child) {
  display: none;
}

@media (min-width: 992px) {
  .vl {
    border-left: 5px solid rgba(9, 44, 76, 0.4);
    height: 500px;
  }
}
.contact-area hr {
  border: 3px solid rgba(9, 44, 76, 0.4);
  width: 80%;
  margin: auto;
}
.contact .form-control input {
  height: calc(2.5em + 0.75rem + 2px);
}
.form-control:focus {
  color: #495057 important;
  border-color: #495057 !important;
  box-shadow: none !important;
}
.btn-sec {
  background-color: var(--primaryColor);
  color: #fff;
}
.btn-sec:hover {
  color: #fff;
}
.a-contact-option-icon,
.a-follow-option-icon {
  background-color: var(--primaryColor);
}
.a-contact-option-icon {
  max-height: 70px;
  max-width: 70px;
}
.a-contact-option .a-contact-option-icon {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-follow-option .a-follow-option-icon {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  max-width: 70px;
}

/* Footer Section Classes */
footer {
  background-color: var(--primaryColor);
}
footer hr {
  border: 0.1px solid #ffffff30;
  width: 95%;
  margin: auto;
}
footer p {
  font-size: 14px;
}
footer .special-footer-text {
  color: var(--secondaryColor);
}
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #e5e5e5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel .navc {
  background-color: var(--neutralColor);
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #092c4c;
}
.cart-box {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}
.cart-box-item {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.cart-box .checked {
  color: #f2994a;
}

@media (min-width: 768px) {
  .cart-box-quantity {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
  }
}
.cart-box hr {
  border: 0.2px solid #4f4f4f;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper-cart {
  max-width: 1250px;
}
.cart-box .form-control {
  width: 70%;
}
.submit-div button {
  background-color: var(--secondaryColor);
  color: var(--textColor);
}

/* Checkout Section */
.checkout {
  display: none;
}
.checkout-box {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}
.checkout hr {
  width: 100%;
}
.checkout button {
  background-color: var(--secondaryColor);
  color: var(--textColor);
}

.checkoutcard {
  background: #fcfcfc;
  /* shadow effect 3 */

  box-shadow: 0px 4px 4px rgba(9, 44, 76, 0.13);
  border-radius: 8px;
  height: 160px;
  max-width: 275px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.checkoutcard:hover {
  cursor: pointer;
  transform: filter(1.1);
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--secondaryColor); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: var(
    --primaryColor
  ); /* Add a dark-grey background on hover */
}
