* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1A1A1A;
    background: #fdfdfd;   
}

html {
    font-size: calc(9px + (26 - 9) * ((100vw - 320px) / (1600 - 320)));
}

h1 {
    font-size: calc(16px + (48 - 16) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(20px + (58 - 20) * ((100vw - 320px) / (1600 - 320)));
}

h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(17px + (41 - 17) * ((100vw - 320px) / (1600 - 320)));
}

h3 {
    font-size: calc(12px + (22 - 12) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(15px + (29 - 15) * ((100vw - 320px) / (1600 - 320)));
}

h5 {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
}

h6 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));
}

.bg-primary {
    background: #0146C0;
}

.font-weight-bold-sm {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 800;
}

.font-weight-bold-xs {
    font-weight: 400;
}

.text-dark-sm {
    color: #4F4F4F;
}

.text-border {
    border-bottom: 3px solid #0146C0;
    padding-bottom: 7px;
}

.border-radius {
    border-radius: 8px;
}

p {
    font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1600 - 320)));
    font-weight: lighter;
}

.small {
    font-size: calc(11px + (16 - 11) * ((100vw - 320px) / (1600 - 320)));
    font-weight: lighter;
}

.extra-small {
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.navbar {
    background: rgba(255, 255, 255, 0.86);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar-logo {
    width: 70%;
}

.nav-link {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1600 - 320)));
    color: gold;
}

.nav-link img {
    width: calc(20px + (25 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.navbar-toggler, .navbar-toggler:focus {
    border: 0;
    outline: none;
}

.navbar-collapse {
    background-color: #fff;
}

.h-section h1, .h-section h6 {
    font-weight: 600;
}

.btn {
    width: calc(100px + (150 - 100) * ((100vw - 320px) / (1600 - 320)));
    padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320))) 0;
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.btn-light {
    background: #F5F5F5;
    color: #919191;
}

.btn-outline {
    border: 1px solid #455A64;
}

.btn-lg {
    width: calc(150px + (240 - 150) * ((100vw - 320px) / (1600 - 320)));
}

.hero__img {
    background-image: url('../assets/newhero.png');
    background-size: cover;
    padding-top: calc(80px + (250 - 80) * ((100vw - 320px) / (1600 - 320)));
    padding-bottom: calc(50px + (200 - 50) * ((100vw - 320px) / (1600 - 320)));
}

.welcome {
    padding: 10px calc(20px + (150 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.phone__section {
    border-radius: 8px;
}

.about__img {
    background-image: url('../assets/newhero2.png');
    background-size: cover;
}

.bg-trans {
    box-shadow: 0px 4px 4px rgba(9, 44, 76, 0.13);
    background-color: rgba(255, 255, 255, .9);
}

.cart {
    border: 1.5px solid #2162D3;
    padding: 8px;
    border-radius: 50%;
}

.form-control {
    width: 100%;
    height: calc(50px + (75 - 50) * ((100vw - 320px) / (1600 - 320)));
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    outline: none;
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1600 - 320)));
}

textarea.form-control {
    height: 150px;
}

.footer__col p {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1600 - 320)));
    margin-top: 0px;
}

.footer__link a {
    display: flex;
    flex-direction: column;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1600 - 320)));
    font-weight: lighter;
    margin-bottom: 5px;
}

hr {
    border: .5px solid #fff;
}

@media screen and (min-width: 576px) {
    .collapse {
        background-color: transparent;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        position: absolute;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        position: absolute;
    }
    .navbar-logo {
        width: 100%;
    }
}