* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1A1A1A;
    background: #fdfdfd;
}

.navbar {
    z-index: 1;
}

.navbar-logo {
    width: 80%;
}

.navbar-toggler, .navbar-toggler:focus {
    border: 0;
    outline: none;
}

.navbar-icon, .navbar-icon:active {
    width: 120%;
}

.hero__img {
    background-image: url('../assets/hero.png');
    background-size: cover;
    top: -90px;
    right: -20px;
    height: 300px;
}

.h-section h6 {
    font-size: .7rem;
    font-weight: 600;
    width: 150%;
}

.h-section h1 {
    font-size: 1.1rem;
    width: 150%
}

.h-section .small {
    font-size: .75rem;
    width: 220%;
    line-height: 15px;
}

.h-section .btn--action {
    width: 120%
}

.btn--action {
    background: #0146C0;
    border-radius: 5px;
    color: #fff;
    border: 0;
    font-size: .8rem;
    padding: 15px 20px;
    outline: none;
    cursor: pointer;
}

.btn--action:hover {
    background: #0146C0;
}

.about--hero {
    font-weight: bold;
}

.about__img1 {
    display: none;
}

.about__img2 {
    width: 100%;
    height: 100%;
}

.about h3 {
    font-weight: 600;
    display: none;
}

.about h6 {
    font-weight: 600;
    font-size: .8em;
    margin-top: 0;
}

.about p {
    margin-bottom: 0;
}

.about__content {
    font-size: .65em;
    line-height: 15px;
}

.products img {
    width: 100%;
}

.product__card h4 {
    font-size: .8em;
    font-weight: 600;
}

.product__card .cart {
    width: 20px;
    margin-top: -20px;
}

.cart span {
    font-weight: 600;
    padding: 5px 20px;
    border-bottom: 3px solid #D6D6D6;
}

.cart span:first-child {
    border-color: #0146C0;
}

.cart span:last-child {
    padding-left: 40px;
}

.table {
    font-size: .8rem;
    text-align: center;
}

.services h4, .contact h4, .service__card h5 {
    font-weight: 600;
}

.form-control {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    outline: none;
    font-size: .8em;
}

textarea.form-control {
    height: 150px;
}

footer {
    background: rgba(1, 70, 192, 0.87);
}

.footer__link {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    margin: 10px 0;
}

hr {
    border: .5px solid #fff;
}

.paginate {
    display: flex;
    justify-content: center;
    height: inherit;
}

.paginate p {
    padding: 5px 10px;
}

.paginate p:nth-child(odd) {
    background: rgba(1, 70, 192, 0.87);
    color: #fff;
    cursor: pointer;
}

.paginate p:first-child {
    border-radius: 5px 0 0 5px;
}

.paginate p:last-child {
    border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 576px) {
    .h-section h6 {
        font-size: 1rem;
        padding-top: 50px;
    }

    .h-section .btn--action {
        width: initial;
    }
    .h-section h1 {
        font-size: 1.4rem;
    }

    .about--hero {
        display: none;
    }
    .about h3 {
        display: block;
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 10px;
    }

    .about h6 {
        font-weight: 600;
        font-size: 1em;
        margin-top: 10px;
    }

    .about__content {
        font-size: .8em;
        line-height: 15px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-logo {
        width: initial;
    }
    .hero>div {
        height: 400px;
    }
    .hero__img {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .h-section h6 {
        font-size: 1rem;
    }
    .h-section h1 {
        font-size: 1.5rem;
        width: 130%;
    }
    .h-section .small {
        width: 130%;
        font-size: .8rem;
        line-height: 15px;
    }
    .about h3 {
        font-size: 1.9em;
    }

    .about__content {
        font-size: 1em;
        line-height: 25px;
        font-weight: lighter;
    }
    .product__card h4 {
        font-size: 1em;
        margin-bottom: 0;
    }
    
    .product__card .cart {
        width: 30px;
        margin-top: 0;
    }
    .table {
        font-size: .9rem;
    }
    .form-control {
        height: 60px;
    }
    textarea.form-control {
        height: 183px;
    }
    footer .small {
        font-size: 1rem;
    }
    .footer__link {
        font-size: 1rem;
    }
    .paginate p {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 992px) {
    .hero>div {
        height: 80vh;
    }
    .hero__img {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 300px;
    }
    .h-section h6 {
        font-weight: 800;
        padding-top: 80px;
    }
    .h-section h1 {
        font-size: 2.5rem;
        width: 100%;
    }
    .h-section .small {
        width: 100%;
        font-size: 1rem;
        line-height: 25px;
    }
    .btn--action {
        padding: 13px 50px;
        font-size: 1rem;
    }
    
    .about__img1 {
        display: block;
        height: 100%;
    }
    
    .about__img2 {
        display: none;
    }
    .footer__col {
        padding-right: 200px;
        font-size: 1.1rem;
    }
}